@tailwind base;
@tailwind components;
@tailwind utilities;

/* Common Scrollbar Styles */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #101010 ; /* Track color for dark theme */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #020617; /* Thumb color for blue theme */
    border-radius: 5px; /* Rounded corners */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #94a3b8 ; /* Darker thumb color on hover */
  }
  
  /* If you have a specific dark theme class */
  .dark-theme ::-webkit-scrollbar-track {
    background: #101010; /* Darker track for dark theme */
  }
  
  .dark-theme ::-webkit-scrollbar-thumb {
    background: #020617; /* Thumb color for dark theme */
  }
  
  .dark-theme ::-webkit-scrollbar-thumb:hover {
    background: #94a3b8 ; /* Darker thumb color on hover for dark theme */
  }
  